/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [EMP_ID]
      ,[END_DATE]
      ,[FIRST_NAME]
      ,[LAST_NAME]
      ,[START_DATE]
      ,[TITLE]
      ,[ASSIGNED_BRANCH_ID]
      ,[DEPT_ID]
      ,[SUPERIOR_EMP_ID]
  FROM [THU].[dbo].[EMPLOYEE]