USE MASTER
GO
IF EXISTS (SELECT * FROM SYSDATABASES WHERE NAME LIKE 'QLCB') DROP DATABASE QLCB
GO
CREATE DATABASE QLCB
GO
USE QLCB
SET DATEFORMAT MDY
GO

-- TAO CAC BANG
CREATE TABLE KHACHHANG
(
	MAKH VARCHAR(15) NOT NULL,
	TEN VARCHAR(15) NOT NULL,
	DCHI VARCHAR(50) NULL,
	DTHOAI VARCHAR(12) NULL,
	CONSTRAINT PK_KHACHHANG PRIMARY KEY (MAKH)
)
GO

CREATE TABLE NHANVIEN
(
	MANV VARCHAR(15) NOT NULL,
	TEN VARCHAR(15) NOT NULL,
	DCHI VARCHAR(50) NULL,
	DTHOAI VARCHAR(12) NULL,
	LUONG MONEY NOT NULL,
	LOAINV BIT NOT NULL,
	CONSTRAINT PK_NHANVIEN PRIMARY KEY(MANV)
)
GO

CREATE TABLE LOAIMB
(
	MALOAI VARCHAR(15) NOT NULL,
	HANGSX VARCHAR(15) NOT NULL,
	CONSTRAINT PK_LOAIMB PRIMARY KEY(MALOAI)
)
GO

CREATE TABLE MAYBAY
(
	SOHIEU INT NOT NULL,
	MALOAI VARCHAR(15) NOT NULL,
	CONSTRAINT PK_MAYBAY PRIMARY KEY(SOHIEU, MALOAI)
)
GO

CREATE TABLE CHUYENBAY
(
	MACB VARCHAR(4) NOT NULL,
	SBDI VARCHAR(3) NOT NULL,
	SBDEN VARCHAR(3) NOT NULL,
	GIODI SMALLDATETIME NOT NULL,
	GIODEN SMALLDATETIME NOT NULL,
	CONSTRAINT PK_CHUYENBAY PRIMARY KEY(MACB)
)

CREATE TABLE LICHBAY
(
	NGAYDI DATETIME NOT NULL,
	MACB VARCHAR(4) NOT NULL,
	SOHIEU INT NOT NULL,
	MALOAI VARCHAR(15) NOT NULL,
	CONSTRAINT PK_LICHBAY PRIMARY KEY(NGAYDI, MACB)
)
GO

CREATE TABLE DATCHO
(
	MAKH VARCHAR(15) NOT NULL,
	NGAYDI DATETIME NOT NULL,
	MACB VARCHAR(4) NOT NULL,
	CONSTRAINT PK_DATCHO PRIMARY KEY(MAKH, NGAYDI, MACB)
)
GO

CREATE TABLE KHANANG
(
	MANV VARCHAR(15) NOT NULL,
	MALOAI VARCHAR(15) NOT NULL,
	CONSTRAINT PK_KHANANG PRIMARY KEY(MANV, MALOAI)
)
GO

CREATE TABLE PHANCONG
(
	MANV VARCHAR(15) NOT NULL,
	NGAYDI DATETIME NOT NULL,
	MACB VARCHAR(4) NOT NULL,
	CONSTRAINT PK_PHANCONG PRIMARY KEY(MANV, NGAYDI, MACB)
)
GO

-- TAO CAC KHOA NGOAI
ALTER TABLE MAYBAY ADD
CONSTRAINT FK_MAYBAY_MALOAI FOREIGN KEY(MALOAI)
REFERENCES LOAIMB(MALOAI) 
GO

ALTER TABLE LICHBAY ADD
CONSTRAINT FK_LICHBAY_MACB FOREIGN KEY(MACB)
REFERENCES CHUYENBAY(MACB),
CONSTRAINT FK_LICHBAY_SOHIEU_MALOAI FOREIGN KEY(SOHIEU, MALOAI)
REFERENCES MAYBAY(SOHIEU, MALOAI)
GO

ALTER TABLE DATCHO ADD
CONSTRAINT FK_DATCHO_MAKH FOREIGN KEY(MAKH)
REFERENCES KHACHHANG(MAKH),
CONSTRAINT FK_DATCHO_NGAYDI_MACB FOREIGN KEY(NGAYDI, MACB)
REFERENCES LICHBAY(NGAYDI, MACB)
GO

ALTER TABLE KHANANG ADD
CONSTRAINT FK_KHANANG_MANV FOREIGN KEY(MANV)
REFERENCES NHANVIEN(MANV),
CONSTRAINT FK_KHANANG_MALOAI FOREIGN KEY(MALOAI)
REFERENCES LOAIMB(MALOAI)
GO

ALTER TABLE PHANCONG ADD
CONSTRAINT FK_PHANCONG_MANV FOREIGN KEY(MANV)
REFERENCES NHANVIEN(MANV),
CONSTRAINT FK_PHANCONG_NGAYDI_MACB FOREIGN KEY(NGAYDI, MACB)
REFERENCES LICHBAY(NGAYDI, MACB)
GO

-- NHAP DU LIEU
INSERT INTO NHANVIEN VALUES ('1006', 'Chi', '12/6 Nguyen Kiem', '8120012', 150000, 0)
INSERT INTO NHANVIEN VALUES ('1005', 'Giao', '65 Nguyen Thai Son', '8324467', 500000, 0)
INSERT INTO NHANVIEN VALUES ('1001', 'Huong', '8 Dien Bien Phu', '8330733', 500000, 1)
GO

INSERT INTO KHACHHANG VALUES ('9', 'Nga', '223 Nguyen Trai', '8932320')
INSERT INTO KHACHHANG VALUES ('101', 'Anh', '567 Tran Phu', '8826729')
INSERT INTO KHACHHANG VALUES ('45', 'Thu', '285 Le Loi', '8932203')
GO

INSERT INTO LOAIMB VALUES ('A310', 'Airbus')
INSERT INTO LOAIMB VALUES ('A320', 'Airbus')
INSERT INTO LOAIMB VALUES ('A330', 'Airbus')
GO

INSERT INTO MAYBAY VALUES ('10', 'B747')
INSERT INTO MAYBAY VALUES ('11', 'B727')
INSERT INTO MAYBAY VALUES ('13', 'B727')
GO

INSERT INTO CHUYENBAY VALUES ('100', 'SLC', 'BOS', '08:00', '17:50')
INSERT INTO CHUYENBAY VALUES ('112', 'DCA', 'DEN', '14:00', '18:07')
INSERT INTO CHUYENBAY VALUES ('121', 'STL', 'SLC', '07:00', '09:13')
GO

INSERT INTO LICHBAY VALUES ('11/01/2000', '100', '80', 'A320')
INSERT INTO LICHBAY VALUES ('11/01/2000', '112', '21', 'DC10')
INSERT INTO LICHBAY VALUES ('11/01/2000', '206', '22', 'DC9')
GO

INSERT INTO DATCHO VALUES ('9', '11/01/2000', '100')
INSERT INTO DATCHO VALUES ('9', '10/31/2000', '449')
INSERT INTO DATCHO VALUES ('45', '11/01/2000', '991')
GO

INSERT INTO KHANANG VALUES ('1001', 'B727')
INSERT INTO KHANANG VALUES ('1001', 'A320')
INSERT INTO KHANANG VALUES ('1001', 'DC10')
GO

INSERT INTO PHANCONG VALUES ('1001', '11/01/2000', '100')
INSERT INTO PHANCONG VALUES ('1001', '10/31/2000', '100')
INSERT INTO PHANCONG VALUES ('1002', '11/01/2000', '100')
GO

-----------------------
--*TRUY VAN DON GIAN*--
-----------------------
--> 01. Cho biết mã số, tên phi công, địa chỉ, điện thoại của các phi công đã từng
-- lái máy bay loại B747.
SELECT NHANVIEN.MANV, TEN, DCHI, DTHOAI FROM NHANVIEN, KHANANG
WHERE NHANVIEN.MANV = KHANANG.MANV
AND MALOAI = 'B747'
GO

--> 02. Cho biết mã số và ngày di của các chuyến bay xuất phát từ sân bay DCA trong
-- khoảng thời gian từ 14 giờ đến 18 giờ.
SELECT CHUYENBAY.MACB, NGAYDI FROM CHUYENBAY, LICHBAY
WHERE CHUYENBAY.MACB = LICHBAY.MACB
AND SBDI = 'DCA'
AND GIODI BETWEEN '14:00' AND '18:00'
GO
--> 03. Cho biết tên những nhân viên được phân công trên chuyến bay có
-- mã số 100 xuất phát tại sân bay SLC.
SELECT TEN FROM NHANVIEN
WHERE MANV IN
	(SELECT MANV FROM PHANCONG, CHUYENBAY
	WHERE PHANCONG.MACB = CHUYENBAY.MACB
	AND SBDI = 'SLC'
	AND PHANCONG.MACB = '100')
GO

--> 04. Cho biết mã loại và số hiệu máy bay dã từng xuất phát tại sân bay MIA.
SELECT MALOAI, SOHIEU FROM LICHBAY, CHUYENBAY
WHERE LICHBAY.MACB = CHUYENBAY.MACB
AND SBDI = 'MIA'
GO

--> 05. Cho biết mã chuyến bay, ngày di, cùng với tên, địa chỉ, điện thoại của
-- tất cả các hành khách di trên chuyến bay dó. Sắp xếp theo thứ tự tăng dần
-- của mã chuyến bay và theo ngày di giảm dần.
SELECT MACB, NGAYDI, TEN, DCHI, DTHOAI FROM KHACHHANG, DATCHO
WHERE KHACHHANG.MAKH = DATCHO.MAKH
ORDER BY MACB, NGAYDI DESC
GO

--> 06. Cho biết mã chuyến bay, ngày di, cùng với tên, địa chỉ, điện thoại của
-- tất cả những nhân viên được phân công trong chuyến bay dó. Sắp xếp theo thứ
-- tự tăng dần của mã chuyến bay và theo ngày di giảm dần.
SELECT MACB, NGAYDI, TEN, DCHI, DTHOAI FROM NHANVIEN, PHANCONG
WHERE NHANVIEN.MANV = PHANCONG.MANV
ORDER BY MACB, NGAYDI DESC
GO

--> 07. Cho biết mã chuyến bay, ngày di, mã số và tên của những phi công được
-- phân công vào chuyến bay hạ cánh xuống sân bay ORD.
SELECT MACB, NGAYDI, NHANVIEN.MANV, TEN FROM NHANVIEN, PHANCONG
WHERE NHANVIEN.MANV = PHANCONG.MANV
AND LOAINV = 1
AND MACB IN
	(SELECT MACB FROM CHUYENBAY WHERE SBDEN = 'ORD')
GO

--> 08. Cho biết mã số chuyến bay, ngày di và tên của phi công có
-- mã 1001 được phân công lái chuyến bay dó.
SELECT MACB, NGAYDI, TEN FROM NHANVIEN, PHANCONG
WHERE NHANVIEN.MANV = PHANCONG.MANV
AND LOAINV = 1
AND NHANVIEN.MANV = '1001'
GO

--> 09. Cho biết thông tin của những chuyến bay hạ cánh xuống DEN. Các chuyến
-- bay được liệt kê theo ngày đi giảm dần và sân bay xuất phát (SBDI) tăng dần.
SELECT CHUYENBAY.*, SOHIEU, MALOAI FROM CHUYENBAY, LICHBAY
WHERE SBDEN = 'DEN'
AND CHUYENBAY.MACB = LICHBAY.MACB
ORDER BY NGAYDI DESC, SBDI
GO

--> 10. Cho biết hãng sản xuất và mã loại máy bay mà phi công có khả năng bay được.
SELECT LOAIMB.* FROM KHANANG, LOAIMB
WHERE KHANANG.MALOAI = LOAIMB.MALOAI
GO

--> 11. Cho biết mã phi công, tên phi công dã lái máy bay trong chuyến
-- bay mã số 100 vào ngày 11/01/2000.
SELECT MANV, TEN FROM NHANVIEN
WHERE MANV IN
	(SELECT MANV FROM PHANCONG WHERE MACB = '100'
	AND NGAYDI = '11/01/2000')
AND LOAINV = 1
GO

--> 12. Cho biết mã chuyến bay, mã nhân viên, tên nhân viên được phân công vào
-- chuyến bay xuất phát ngày 10/31/2000 tại sân bay MIA vào lúc 20:30.
SELECT PHANCONG.MACB, PHANCONG.MANV, TEN FROM PHANCONG, CHUYENBAY, NHANVIEN
WHERE PHANCONG.MACB = CHUYENBAY.MACB
AND PHANCONG.MANV = NHANVIEN.MANV
AND NGAYDI = '10/31/2000'
AND SBDI = 'MIA'
AND GIODI = '20:30'
GO
--> 13. Cho biết thông tin về chuyến bay (mã chuyến bay, số hiệu, mã
-- loại, hãng sản xuất) mà phi công Quang dã lái.

CREATE VIEW Q13 AS
	SELECT MACB, SOHIEU, MALOAI FROM LICHBAY
	WHERE MACB IN
		(SELECT MACB FROM NHANVIEN, PHANCONG
		WHERE TEN = 'QUANG'
		AND NHANVIEN.MANV = PHANCONG.MANV)
GO

SELECT Q13.*, HANGSX FROM LOAIMB, Q13
WHERE Q13.MALOAI = LOAIMB.MALOAI
GO

--> 14. Cho biết tên của những phi công chưa được phân công lái chuyến bay nào.
SELECT TEN FROM NHANVIEN
WHERE LOAINV = 1
AND MANV NOT IN (SELECT MANV FROM PHANCONG)
GO

--> 15. Cho biết tên khách hàng dã di chuyến bay trên máy bay của hãng Boeing.
SELECT TEN FROM KHACHHANG, DATCHO
WHERE KHACHHANG.MAKH= DATCHO.MAKH
AND MACB IN
	(SELECT MACB FROM LICHBAY, LOAIMB
	WHERE LICHBAY.MALOAI = LOAIMB.MALOAI
	AND HANGSX = 'BOEING')
GO

--> 16. Cho biết các chuyến bay chỉ bay với máy bay số hiệu 10 và mã loại B747.
SELECT DISTINCT MACB FROM LICHBAY
WHERE SOHIEU = '10'
AND MALOAI = 'B747'
GO

--------------------
--*GOM NHOM + HAM*--
--------------------
--> 17.	Với mỗi sân bay (SBDEN), cho biết số lượng chuyến bay hạ cánh xuống
-- sân bay đó. Kết quả được sắp xếp theo thứ tự tăng dần của sân bay đến.
SELECT SBDEN, COUNT(*) AS SL FROM CHUYENBAY
GROUP BY SBDEN
ORDER BY SBDEN
GO

--> 18.	Với mỗi sân bay (SBDI), cho biết số lượng chuyến bay xuất phát
-- từ sân bay đó, sắp xếp theo thứ tự tăng dần của sân bay xuất phát.
SELECT SBDI, COUNT(*) AS SL FROM CHUYENBAY
GROUP BY SBDI
ORDER BY SBDI
GO

--> 19.	Với mỗi sân bay (SBDI), cho biết số lượng chuyến bay xuất phát theo từng ngày.
SELECT NGAYDI, SBDI, COUNT(*) AS SL FROM CHUYENBAY, LICHBAY
WHERE LICHBAY.MACB = CHUYENBAY.MACB
GROUP BY NGAYDI, SBDI
GO

--> 20.	Với mỗi sân bay (SBDEN), cho biết số lượng chuyến bay hạ cánh theo từng ngày.
SELECT NGAYDI, SBDEN, COUNT(*) AS SL FROM CHUYENBAY, LICHBAY
WHERE LICHBAY.MACB = CHUYENBAY.MACB
GROUP BY NGAYDI, SBDEN
GO

--> 21.	Cho biết mã chuyến bay, ngày đi cùng với số lượng nhân viên không phải là phi công của chuyến bay đó.
SELECT MACB, NGAYDI, COUNT(*) SLNV FROM PHANCONG
WHERE MANV IN
	(SELECT MANV FROM NHANVIEN WHERE LOAINV = 0)
GROUP BY MACB, NGAYDI
GO

--> 22.	Số lượng chuyến bay xuất phát từ sân bay MIA vào ngày 11/01/2000.
SELECT COUNT(*) AS SLCB FROM CHUYENBAY, LICHBAY
WHERE CHUYENBAY.MACB = LICHBAY.MACB
AND SBDI = 'MIA'
AND NGAYDI = '11/01/2000'
GO

--> 23.	Với mỗi chuyến bay, cho biết mã chuyến bay, ngày đi, số lượng nhân
-- viên được phân công trên chuyến bay đó, sắp theo thứ tự giảm dần của số lượng.
SELECT MACB, NGAYDI, COUNT(*) AS SLNV FROM PHANCONG
GROUP BY MACB, NGAYDI
ORDER BY SLNV DESC
GO

--> 24.	Với mỗi chuyến bay, cho biết mã chuyến bay, ngày đi, cùng với
-- số lượng hành khách đã đặt chỗ của chuyến bay đó, sắp theo thứ tự giảm dần của số lượng.
SELECT MACB, NGAYDI, COUNT(*) AS SLHK FROM DATCHO
GROUP BY MACB, NGAYDI
ORDER BY SLHK DESC
GO

--> 25.	Với mỗi chuyến bay, cho biết mã chuyến bay, ngày đi, tổng lương
-- của phi hành đoàn (các nhân viên được phân công trong chuyến bay), sắp
-- xếp theo thứ tự tăng dần của tổng lương.
SELECT MACB, NGAYDI, SUM(LUONG) AS TLUONG FROM PHANCONG, NHANVIEN
WHERE PHANCONG.MANV = NHANVIEN.MANV
GROUP BY MACB, NGAYDI
ORDER BY TLUONG
GO

--> 26.	Cho biết lương trung bình của các nhân viên không phải là phi công.
SELECT AVG(LUONG) AS LTB FROM NHANVIEN
WHERE LOAINV = 0
GO

--> 27.	Cho biết mức lương trung bình của các phi công.
SELECT AVG(LUONG) AS LTB FROM NHANVIEN
WHERE LOAINV = 1
GO

--> 28.	Với mỗi loại máy bay, cho biết số lượng chuyến bay đã bay trên
-- loại máy bay đó hạ cánh xuống sân bay ORD.
SELECT MALOAI, COUNT(*) SLCB FROM CHUYENBAY, LICHBAY
WHERE CHUYENBAY.MACB = LICHBAY.MACB
AND SBDEN = 'ORD'
GROUP BY MALOAI
GO

--> 29.	Cho biết sân bay (SBDI) và số lượng chuyến bay có nhiều hơn 2
-- chuyến bay xuất phát trong khoảng 10 giờ đến 22 giờ.
SELECT SBDI, COUNT(*) AS SLCB FROM CHUYENBAY
WHERE GIODI BETWEEN '10:00' AND '22:00'
GROUP BY SBDI
HAVING COUNT(*) > 2
GO

--> 30.	Cho biết tên phi công được phân công vào ít nhất 2 chuyến bay trong cùng một ngày.
SELECT NGAYDI, TEN, COUNT(*) SL FROM PHANCONG, NHANVIEN
WHERE NHANVIEN.MANV = PHANCONG.MANV
GROUP BY NGAYDI, TEN
HAVING COUNT(*) >= 2
GO

--> 31.	Cho biết mã chuyến bay và ngày đi của những chuyến bay có ít hơn 3 hành khách đặt chỗ.
SELECT MACB, NGAYDI, COUNT(*) AS SL FROM DATCHO
GROUP BY MACB, NGAYDI
HAVING COUNT(*) > 3
GO

--> 32.	Cho biết số hiệu máy bay và loại máy bay mà phi công có mã 1001 được phân công lái trên 2 lần.
SELECT SOHIEU, MALOAI FROM PHANCONG, LICHBAY
WHERE PHANCONG.MACB = LICHBAY.MACB
AND MANV = '1001'
GROUP BY SOHIEU, MALOAI
HAVING COUNT(*) > 2
GO

--> 33.	Với mỗi hãng sản xuất, cho biết số lượng loại máy bay mà hãng đó đã sản xuất.
SELECT HANGSX, COUNT(*) AS SL FROM LOAIMB
GROUP BY HANGSX
GO

-------------------------
--*TRUY VAN LONG + HAM*--
-------------------------
--> 34.	Cho biết hãng sản xuất, mã loại và số hiệu của máy bay đã được sử dụng nhiều nhất.
CREATE VIEW Q34 AS
	SELECT HANGSX, LOAIMB.MALOAI, SOHIEU, COUNT(*) AS SL FROM LICHBAY, LOAIMB
	WHERE LICHBAY.MALOAI = LOAIMB.MALOAI
	GROUP BY HANGSX, LOAIMB.MALOAI, SOHIEU
GO

SELECT HANGSX, MALOAI, SOHIEU FROM Q34
WHERE SL IN (SELECT MAX(SL) FROM Q34)
GO

--> 35.	Cho biết tên nhân viên được phân công đi nhiều chuyến bay nhất.
CREATE VIEW Q35 AS
	SELECT TEN, COUNT(*) AS SL FROM NHANVIEN, PHANCONG
	WHERE NHANVIEN.MANV = PHANCONG.MANV
	GROUP BY TEN
GO

SELECT TEN FROM Q35
WHERE SL IN (SELECT MAX(SL) FROM Q35)
GO

--> 36.	Cho biết thông tin của phi công (tên, địa chỉ, điện thoại) lái nhiều chuyến bay nhất.
CREATE VIEW Q36 AS
	SELECT TEN, DCHI, DTHOAI, COUNT(*) AS SL FROM NHANVIEN, PHANCONG
	WHERE NHANVIEN.MANV = PHANCONG.MANV
	AND LOAINV = 1
	GROUP BY TEN, DCHI, DTHOAI
GO

SELECT TEN, DCHI, DTHOAI FROM Q36
WHERE SL IN (SELECT MAX(SL) FROM Q36)
GO

--> 37.	Cho biết sân bay (SBDEN) và số lượng chuyến bay của sân bay có ít chuyến bay đáp xuống nhất.
CREATE VIEW Q37 AS
	SELECT SBDEN, COUNT(*) AS SL FROM CHUYENBAY
	GROUP BY SBDEN
GO

SELECT * FROM Q37 WHERE SL IN (SELECT MIN(SL) FROM Q37)
GO

--> 38.	Cho biết sân bay (SBDI) và số lượng chuyến bay của sân bay có nhiều chuyến bay xuất phát nhất.
CREATE VIEW Q38 AS
	SELECT SBDI, COUNT(*) AS SL FROM CHUYENBAY
	GROUP BY SBDI
GO

SELECT * FROM Q38 WHERE SL IN (SELECT MAX(SL) FROM Q38)
GO

--> 39.	Cho biết tên, địa chỉ, và điện thoại của khách hàng đã đi trên nhiều chuyến bay nhất.
CREATE VIEW Q39 AS
	SELECT TEN, DCHI, DTHOAI, COUNT(*) AS SL FROM DATCHO, KHACHHANG
	WHERE KHACHHANG.MAKH = DATCHO.MAKH
	GROUP BY TEN, DCHI, DTHOAI
GO

SELECT TEN, DCHI, DTHOAI FROM Q39
WHERE SL IN (SELECT MAX(SL) FROM Q39)
GO

--> 40.	Cho biết mã số, tên và lương của các phi công có khả năng lái nhiều loại máy bay nhất.
CREATE VIEW Q40 AS
	SELECT MANV, COUNT(*) AS SL FROM KHANANG
	GROUP BY MANV
GO

SELECT NHANVIEN.MANV, TEN, LUONG FROM NHANVIEN, Q40
WHERE NHANVIEN.MANV = Q40.MANV
AND SL IN (SELECT MAX(SL) FROM Q40)
GO

--> 41.	Cho biết thông tin của nhân viên có mức lương cao nhất.
SELECT * FROM NHANVIEN
WHERE LUONG IN (SELECT MAX(LUONG) FROM NHANVIEN)
GO

--> 42.	Cho biết tên, địa chỉ của các nhân viên có lương cao nhất trong phi hành
-- đoàn (các nhân viên được phân công trong một chuyến bay).
CREATE VIEW Q42 AS
	SELECT TEN, DCHI, LUONG FROM NHANVIEN, PHANCONG
	WHERE NHANVIEN.MANV = PHANCONG.MANV
	GROUP BY TEN, DCHI, LUONG
GO

SELECT TEN, DCHI FROM Q42
WHERE LUONG IN (SELECT MAX(LUONG) FROM Q42)
GO

--> 43.	Cho biết mã chuyến bay, giờ đi và giờ đến của chuyến bay bay sớm nhất trong ngày.
SELECT MACB, GIODI, GIODEN FROM CHUYENBAY
WHERE GIODI IN (SELECT MIN(GIODI) FROM CHUYENBAY)
GO

--> 44.	Cho biết chuyến bay có thời gian bay dài nhất.
CREATE VIEW Q44 AS
	SELECT MACB, SBDI, SBDEN, GIODI, GIODEN, GIODEN - GIODI AS TG FROM CHUYENBAY
GO

SELECT MACB, SBDI, SBDEN, GIODI, GIODEN FROM Q44
WHERE TG IN (SELECT MAX(TG) FROM Q44)
GO

--> 45.	Cho biết chuyến bay có thời gian bay ít nhất.
SELECT MACB, SBDI, SBDEN, GIODI, GIODEN FROM Q44
WHERE TG IN (SELECT MIN(TG) FROM Q44)
GO

--> 46.	Cho biết mã chuyến bay và ngày đi của những chuyến bay bay trên loại máy bay B747 nhiều nhất.
CREATE VIEW Q46 AS
	SELECT MACB, NGAYDI, COUNT(*) AS SL FROM LICHBAY
	WHERE MALOAI = 'B747'
	GROUP BY MACB, NGAYDI
GO

SELECT MACB, NGAYDI FROM Q46
WHERE SL IN (SELECT MAX(SL) FROM Q46)
GO

--> 47.	Với mỗi chuyến bay có trên 3 hành khách, cho biết mã chuyến bay và
-- số lượng nhân viên trên chuyến bay đó.
CREATE VIEW Q47 AS
	SELECT MACB FROM DATCHO
	GROUP BY MACB
	HAVING COUNT(*) > 3
GO

SELECT MACB, COUNT(*) AS SLNV FROM PHANCONG
WHERE MACB IN (SELECT * FROM Q47)
GROUP BY MACB
GO

--> 48.	Với mỗi loại nhân viên có tổng lương trên 600000, cho biết số
-- lượng nhân viên trong từng loại nhân viên đó.
SELECT LOAINV, COUNT(*) AS SL FROM NHANVIEN
GROUP BY LOAINV
HAVING SUM(LUONG) > 600000
GO

--> 49.	Với mỗi chuyến bay có trên 3 nhân viên, cho biết mã chuyến bay và số
-- lượng khách hàng đã đặt chỗ trên chuyến bay đó.
CREATE VIEW Q49 AS
	SELECT MACB FROM PHANCONG
	GROUP BY MACB
	HAVING COUNT(*) > 3
GO

SELECT Q49.MACB, COUNT(*) SL FROM DATCHO JOIN Q49
ON (DATCHO.MACB = Q49.MACB)
GROUP BY Q49.MACB
GO

--> 50.	Với mỗi loại máy bay có nhiều hơn một chiếc, cho biết số lượng chuyến
-- bay đã được bố trí bay bằng loại máy bay đó.
CREATE VIEW Q50 AS
	SELECT MALOAI FROM MAYBAY
	GROUP BY MALOAI
	HAVING COUNT(*) > 1
GO

SELECT MACB, COUNT(*) SL FROM LICHBAY
WHERE MALOAI IN (SELECT * FROM Q50)
GROUP BY MACB
GO

---------------
--*PHEP CHIA*--
---------------
--> 51. Cho biết chuyến bay nào đã bay tất cả các máy bay của hãng Boeing.
CREATE VIEW Q51 AS
	SELECT MALOAI FROM LOAIMB
	WHERE HANGSX = 'BOEING'
GO

SELECT * FROM CHUYENBAY
WHERE NOT EXISTS
	(SELECT * FROM Q51
	WHERE NOT EXISTS
		(SELECT * FROM LICHBAY
		WHERE LICHBAY.MALOAI = Q51.MALOAI
		AND LICHBAY.MACB = CHUYENBAY.MACB))
GO

--> 52. Cho biết phi công có khả năng lái tất cả các máy bay của hãng Airbus.
CREATE VIEW Q52 AS
	SELECT MALOAI FROM LOAIMB
	WHERE HANGSX = 'AIRBUS'
GO

SELECT * FROM NHANVIEN
WHERE NOT EXISTS
	(SELECT * FROM Q52
	WHERE NOT EXISTS
		(SELECT * FROM KHANANG
		WHERE KHANANG.MALOAI = Q52.MALOAI
		AND KHANANG.MANV = NHANVIEN.MANV))
GO

--> 53. Cho biết tên nhân viên (không phải là phi công) được phân công bay
-- vào tất cả các chuyến bay có mã 100.
SELECT TEN FROM NHANVIEN
WHERE LOAINV = 0
AND MANV IN
	(SELECT MANV FROM PHANCONG
	WHERE MACB = '100')
GO

--------------
--*PHUC TAP*--
--------------
--> 54. Cho biết các chuyến bay xuất phát vào ngày 10/31/2000 tại sân bay
-- STL và có giờ đến sân bay cuối trước 10h.
SELECT CHUYENBAY.* FROM CHUYENBAY, LICHBAY
WHERE CHUYENBAY.MACB = LICHBAY.MACB
AND NGAYDI = '10/31/2000'
AND SBDI = 'STL'
AND GIODEN < '10:00'